name: Java CI

on:
  push:
  release:
      types: # This configuration does not affect the page_build event above
        - created

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle        
      - name: Build with Gradle
        run: ./gradlew clean build
      - name: Upload Gui artifacts
        uses: actions/upload-artifact@v1.0.0
        with:
          # Artifact name
          name: Gui Jar
          # Directory containing files to upload
          path: ./gui/build/libs 
      - name: Upload Core artifacts 
        uses: actions/upload-artifact@v1.0.0
        with:
          # Artifact name
          name: Core Jar Files
          # Directory containing files to upload
          path: ./core/build/libs
